.menu li
{
    display: inline;
}

.menu ul
{
    list-style-type:none;
    text-align: center;
}

a {
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(55, 55, 131);
    padding: 10px;
    border-radius: 5px;
}

.footer{
    color: aliceblue;
    text-align: center;
    background-color: rgb(55, 55, 131);
    padding: 2px 0px 2px 0px;
}
